In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("ENVISON_DATA_PS3.xlsx")
data

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2000-0020-IND,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm1_code"":1511,""adm1_name"":""West Bengal""},...",2003-07-01,2023-09-25
1,2000-0306-IND,No,nat-bio-epi-vir,Natural,Biological,Epidemic,Viral disease,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,NaN,2003-07-01,2023-09-25
2,2000-0308-IND,No,nat-bio-epi-bac,Natural,Biological,Epidemic,Bacterial disease,NaN,Cholera,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,NaN,2003-07-01,2023-09-25
3,2000-0332-IND,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm2_code"":17582,""adm2_name"":""Golaghat""},{""...",2005-09-15,2023-09-25
4,2000-0358-IND,No,nat-hyd-mmw-lan,Natural,Hydrological,Mass movement (wet),Landslide (wet),NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm1_code"":70082,""adm1_name"":""Uttarakhand""}...",2003-07-01,2023-09-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,2025-0736-IND,No,nat-hyd-mmw-lan,Natural,Hydrological,Mass movement (wet),Landslide (wet),NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-08-28,2025-08-29
423,2025-0751-IND,No,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-01,2025-09-26
424,2025-0803-IND,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-09-26,2025-09-29
425,2025-0859-IND,No,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,IND,...,NaN,NaN,NaN,NaN,2200.0,NaN,NaN,NaN,2025-10-07,2025-10-20
426,2025-1000-IND,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,GLIDE:TC-2025-000213|GLIDE:TC-2025-000218,Tropical storm 'Ditwah',IND,...,NaN,NaN,NaN,NaN,40000.0,NaN,NaN,NaN,2025-12-01,2025-12-05

In [3]:
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
422    False
423    False
424    False
425    False
426    False
Length: 427, dtype: bool

In [4]:
print(data.isnull().sum())

DisNo.                                         0
Historic                                       0
Classification Key                             0
Disaster Group                                 0
Disaster Subgroup                              0
Disaster Type                                  0
Disaster Subtype                               0
External IDs                                 321
Event Name                                   372
ISO                                            0
Country                                        0
Subregion                                      0
Region                                         0
Location                                       0
Origin                                       225
Associated Types                             295
OFDA/BHA Response                              0
Appeal                                         0
Declaration                                    0
AID Contribution ('000 US$)                  411
Magnitude                                    271
Magnitude Scale                               43
Latitude                                     350
Longitude                                    350
River Basin                                  353
Start Year                                     0
Start Month                                    0
Start Day                                     46
End Year                                       0
End Month                                      2
End Day                                       46
Total Deaths                                  30
No. Injured                                  332
No. Affected                                 198
No. Homeless                                 382
Total Affected                               123
Reconstruction Costs ('000 US$)              427
Reconstruction Costs, Adjusted ('000 US$)    427
Insured Damage ('000 US$)                    410
Insured Damage, Adjusted ('000 US$)          410
Total Damage ('000 US$)                      312
Total Damage, Adjusted ('000 US$)            315
CPI                                           14
Admin Units                                   70
Entry Date                                     0
Last Update                                    0
dtype: int64

In [3]:
# Map to actual column names and keep only specified features
columns_to_keep = [
    'DisNo.',  # event_id
    'Disaster Type',  # disaster_type
    'Disaster Subtype',  # disaster_subtype
    'Location',  # location
    'Latitude',  # latitude
    'Longitude',  # longitude
]

# Add date-related columns (we'll combine Start Year, Month, Day)
columns_to_keep.extend(['Start Year', 'Start Month', 'Start Day'])

# Add remaining columns that exist
additional_columns = [
    'Total Affected',  # affected_population
    "Total Damage ('000 US$)",  # estimated_economic_loss_usd
]

columns_to_keep.extend(additional_columns)

# Filter the dataset
data = data[columns_to_keep]

# Rename columns to match requested names
data = data.rename(columns={
    'DisNo.': 'event_id',
    'Disaster Type': 'disaster_type',
    'Disaster Subtype': 'disaster_subtype',
    'Location': 'location',
    'Latitude': 'latitude',
    'Longitude': 'longitude',
    'Total Affected': 'affected_population',
    "Total Damage ('000 US$)": 'estimated_economic_loss_usd'
})

data

,event_id,disaster_type,disaster_subtype,location,latitude,longitude,Start Year,Start Month,Start Day,affected_population,estimated_economic_loss_usd
0,2000-0020-IND,Extreme temperature,Cold wave,"Bihar, Uttar Pradesh, West Bengal provinces",NaN,NaN,2000,1,NaN,NaN,NaN
1,2000-0306-IND,Epidemic,Viral disease,"Gonda, Banda districts (Uttar Pradesh)",NaN,NaN,2000,5,NaN,1055.0,NaN
2,2000-0308-IND,Epidemic,Bacterial disease,Delhi,NaN,NaN,2000,5,NaN,192.0,NaN
3,2000-0332-IND,Flood,Flash flood,"Yingkiang,Tuting villages (Upper Siang (70051)...",NaN,NaN,2000,6,10.0,3000000.0,NaN
4,2000-0358-IND,Mass movement (wet),Landslide (wet),"Moradabad, Bijnor districts (Uttar Pradesh pro...",NaN,NaN,2000,6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
422,2025-0736-IND,Mass movement (wet),Landslide (wet),Jammu and Kashmir region,NaN,NaN,2025,8,26.0,3500.0,NaN
423,2025-0751-IND,Flood,Flood (General),Punjab state,NaN,NaN,2025,8,15.0,400000.0,NaN
424,2025-0803-IND,Flood,Flash flood,"Dehradun, Champawat, Haridwar, Pauri Garhwal, ...",NaN,NaN,2025,9,15.0,900.0,NaN
425,2025-0859-IND,Flood,Flood (General),Darjeeling (West Bengal); Bihar states,NaN,NaN,2025,10,3.0,2513.0,2200.0
426,2025-1000-IND,Storm,Tropical cyclone,Tamil Nadu,NaN,NaN,2025,12,27.0,NaN,40000.0

In [13]:
# Check for missing latitude/longitude values
print("Missing latitude values:", data['latitude'].isnull().sum())
print("Missing longitude values:", data['longitude'].isnull().sum())
print("\nRows with missing coordinates:")
missing_coords = data[data['latitude'].isnull() | data['longitude'].isnull()]
print(f"Total rows with missing coordinates: {len(missing_coords)}")

Missing latitude values: 350
Missing longitude values: 350

Rows with missing coordinates:
Total rows with missing coordinates: 350

In [4]:
# Install geopy for geocoding
# !pip install geopy

from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut, GeocoderServiceError
import time

# Initialize geocoder
geolocator = Nominatim(user_agent="disaster_data_geocoder")

def get_coordinates(location):
    """Get latitude and longitude for a location"""
    if pd.isna(location) or location == '':
        return None, None
    
    try:
        time.sleep(1)  # Respect rate limits
        loc = geolocator.geocode(location, timeout=10)
        if loc:
            return loc.latitude, loc.longitude
        return None, None
    except (GeocoderTimedOut, GeocoderServiceError):
        return None, None

# Fill missing coordinates
print("Filling missing coordinates...")
for idx, row in data[data['latitude'].isnull()].iterrows():
    if pd.notna(row['location']):
        lat, lon = get_coordinates(row['location'])
        if lat and lon:
            data.at[idx, 'latitude'] = lat
            data.at[idx, 'longitude'] = lon
            print(f"Updated {row['location']}: ({lat}, {lon})")

print("\nAfter filling:")
print("Missing latitude values:", data['latitude'].isnull().sum())
print("Missing longitude values:", data['longitude'].isnull().sum())

Filling missing coordinates...
Updated Delhi: (28.6138954, 77.2090057)
Updated Uttar Pradesh: (27.1303344, 80.859666)
Updated West Bengal: (22.9964948, 87.6855882)
Updated Andhra Pradesh state: (18.1023944, 83.3948188)
Updated Supaul district (Bihar): (26.2768089, 86.7959614)
Updated Nawadah district (Bihar): (24.8858896, 85.5481255)
Updated Siliguri (West Bengal): (26.7164127, 88.4309916)
Updated Mumbai, Thane: (19.0308262, 73.0198537)
Updated Uttar Pradesh province: (28.031467, 85.0931482)
Updated Orissa State: (20.2558788, 85.8411761)
Updated Orissa state: (20.2558788, 85.8411761)
Updated Delhi province: (37.3690819, 97.36011)
Updated Mandi district: (31.6516617, 77.0092542)
Updated Assam: (26.4073841, 93.2551303)
Updated Assam: (26.4073841, 93.2551303)
Updated Saharanpur (Uttar Pradesh): (29.9856799, 77.5040646)
Updated Gujarat province: (28.2073579, 83.9837108)
Updated Delhi: (28.6138954, 77.2090057)
Updated Solang village (Kullu district, Himachal Pradesh): (32.3160963, 77.1565572)
Updated Uttar Pradesh province: (28.031467, 85.0931482)
Updated Uttar Pradesh, Bihar: (27.9022193, 78.0902799)
Updated Maharashtra state: (19.1678781, 73.4469525)
Updated Tamil Nadu province: (27.0107529, 49.4719239)
Updated Gujarat province: (28.2073579, 83.9837108)
Updated Madhya Pradesh province: (28.1470239, 84.2657597)
Updated Uttar Pradesh province: (28.031467, 85.0931482)
Updated Delhi province: (37.3690819, 97.36011)
Updated Uttar Pradesh: (27.1303344, 80.859666)
Updated Uttar Pradesh province: (28.031467, 85.0931482)
Updated Uttar Pradesh province: (28.031467, 85.0931482)
Updated Delhi province: (37.3690819, 97.36011)
Updated Uttar Pradesh province: (28.031467, 85.0931482)
Updated Karnataka province: (12.8658122, 77.7722437)
Updated Uttar Pradesh province: (28.031467, 85.0931482)
Updated Assam province: (26.1434725, 91.7859739)
Updated Odisha province: (20.4104396, 104.2272058)
Updated Uttar Pradesh province: (28.031467, 85.0931482)
Updated Tripura province: (28.6326267, 80.6935307)
Updated Gujarat: (22.3850051, 71.745261)
Updated Maldah (West Bengal): (25.0977098, 88.1261713)
Updated New Delhi: (28.6138954, 77.2090057)
Updated Tamil nadu: (10.9094334, 78.3665347)
Updated Uttar Pradesh, Rajasthan: (25.3052849, 83.0080184)
Updated Kolkata: (22.5726459, 88.3638953)
Updated Rajasthan, Uttar Pradesh: (25.3052849, 83.0080184)
Updated Tripura state: (23.8416889, 91.280698)
Updated Uttar Pradesh, Rajasthan: (25.3052849, 83.0080184)
Updated Odisha state: (21.0655114, 86.502614)
Updated Uttar Pradesh: (27.1303344, 80.859666)
Updated Odisha province: (20.4104396, 104.2272058)
Updated Jammu & Kashmir state: (32.7608787, 74.8468816)
Updated Uttar Pradesh State: (26.8786893, 80.9862881)
Updated Idukki district (Kerala state): (9.7329374, 77.1625282)
Updated Tamil Nadu and Puducherry: (11.9036033, 79.7005588)
Updated Uttarakhand state: (28.9740025, 79.3896502)
Updated Chamoli District (Uttarakhand State): (30.4113632, 79.3215336)
Updated Bengale occidental, Odisha: (22.3597585, 87.3304751)
Updated Bombay: (19.054999, 72.8692035)
Updated Nainital (Uttarakhand state): (29.3443211, 79.4828167)
Updated Tamil Nadu: (10.9094334, 78.3665347)
Updated Assam State: (27.3294646, 88.6496082)
Updated Uttar Pradesh: (27.1303344, 80.859666)
Updated Tamil Nadu: (10.9094334, 78.3665347)
Updated Maharashtra state: (19.1678781, 73.4469525)
Updated Mizoram State: (23.6242176, 92.7281633)
Updated Gujarat state: (22.3728913, 73.1506188)
Updated Bombay: (19.054999, 72.8692035)
Updated Tripura state: (23.837628, 91.2805664)
Updated Meghalaya: (25.5379432, 91.2999102)
Updated Chamoli district (Uttarakhand): (30.4985956, 79.6190537)
Updated Tripura state: (23.837628, 91.2805664)
Updated Punjab state: (51.0421443, 13.6997963)
Updated Tamil Nadu: (10.9094334, 78.3665347)

After filling:
Missing latitude values: 277
Missing longitude values: 277